## Zoo Animal Classification
Use Machine Learning Methods to Correctly Classify Animals Based Upon Attributes

This dataset consists of 101 animals from a zoo. There are 16 variables with various traits to describe the animals. The 7 Class Types are: Mammal, Bird, Reptile, Fish, Amphibian, Bug and Invertebrate

The purpose for this dataset is to be able to predict the classification of the animals, based upon the variables

In [1]:
#import libraries
from sklearn import svm
import pandas as pd
import math

In [2]:
# load database

data = pd.read_csv("E:/abhi/Desktop/Intel-HPC/ml_algos/ML_casestudy/zoo-animal-classification/zoo.csv")
data.head(6)

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

In [3]:
# Preprocessing of Data

def preprocess(data):
    X = data.iloc[:, 1:17]  # all rows, all the features and no labels
    y = data.iloc[:, 17]  # all rows, label only

    return X, y

In [4]:
# Train/Test Split

from sklearn.model_selection import train_test_split

all_X, all_y = preprocess(data)
X_train, X_test, y_train, y_test = train_test_split(all_X, all_y)

In [5]:
# Display size of train and test data

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(75, 16) (26, 16) (75,) (26,)

## Modelling

In [6]:
# Train SVM Model using data

clf = svm.SVC()
clf.fit(X_train, y_train)

C:\Users\abhi\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [7]:
# Evaluate SVM model

clf.score(X_test, y_test)

0.8076923076923077

In [8]:
# Predict label 'y_hat' using model

y_hat=clf.predict(X_test)
y_hat

array([4, 1, 7, 2, 1, 1, 1, 7, 1, 4, 1, 1, 2, 1, 1, 4, 6, 4, 2, 1, 2, 1,
       1, 1, 4, 4], dtype=int64)

In [9]:
# Show test data

y_test

76    3
52    5
62    3
41    2
96    1
1     1
90    3
53    7
3     1
2     4
35    1
6     1
43    2
32    1
5     1
80    3
39    6
8     4
20    2
17    1
59    2
22    1
69    1
93    1
38    4
86    4
Name: class_type, dtype: int64

## Jaccard Index

In [10]:
# Calculate Jaccard Index

from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, y_hat)

0.8076923076923077

## f1 score

In [ ]:
# Calculate f1 Score

from sklearn.http://localhost:8888/notebooks/ZOO.ipynb#metrics import f1_score
f1_score(y_test, y_hat, average='weighted')